body{
  font-family: 'Montserrat', sans-serif;
  background-color: #8ca7aa
}

h1 {
  text-align: center;
}

img {
  height: 450px;
  width: auto;
  margin: 0;
  padding: 0;
  border-radius: 75px;
}

blockquote {
    border-radius: 10px;
    width: 50%;
    padding: 36px 50px;
    background: #c2c2c2;
    margin-bottom: 28px;
  }

  section {
    padding: 15px;
  }

  section.about p {
    border-radius: 10px;
    width: 75%;
    padding: 36px 50px;
    background: gray;
  }


/*Navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    clear: both;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

/* Changes the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
/*End of nav bar */

footer a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #333;
}

small {
    font-family: 'Montserrat', sans-serif;
}

.tab {
   text-indent: 15px;
}
